
.signature {
    border:1px solid #CCC;
    background: rgb(240, 240, 240);
    text-align: center;
    padding: 15px 0;
}

.signature canvas  {
    background:#FFF;
    border-bottom:2px dotted #999;
}