// Import overrides of USWDS variables.
@import "_variables.scss";
// Import the USWDS source.
@import "../node_modules/uswds/src/stylesheets/uswds.scss";

.field--widget-number {
  .field-prefix {
    display: none;
  }
  label {
    float: left;
		width: 50%;
    margin-top: 1rem;
  }
	input {
    float: right;
		width: 50%;
	}
  :after {
		content: "";
		display: table;
		clear: both;
  }
}

.field {
  clear: left;
  padding: 2rem 0;
}
.field__label {
  font-weight: bold;
  width: 40%;
  float: left;
  padding-right: 2rem;
}
.field__item {
  width: 60%;
  float: left;
}
